<!DOCTYPE html>
{%  load static %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says</h1>
        <p>Top most liked categories</p>
        {%  if categories %}
            <ul>
                    {% for category in categories %}
                    <li>
                        <strong><a href="/rango/{{ category.url }}">{{ category.name }}</a>{{ category.likes }}</strong>

                    </li>
                    {%  endfor %}
        {% endif %}
        <a href="/rango/add_category/">Add a New Category</a>

        <p>-------------------------------------------------------------------</p>
        <p>Top most visted pages</p>
        {% if pages %}
                    {% for page in pages %}
                    <li>
                        <strong>{{ page.title }}</strong>
                        <strong>{{ page.views }}</strong>
                    </li>
                    {% endfor %}
            </ul>
        {% endif %}

        <a href='/rango/about'>About</a><br/>
        <img src="{% static "dp.jpg" %}" alt = "dkjshkjhf" />
    </body>
</html>