{% extends 'rango/base.html' %}
{% load static %}
{% block title %}Rango{% endblock %}
{% block body_block %}
    <div class="hero-unit">
        {% if user.is_authenticated %}
        <h3>Rango says...Hello, {{ user.username }}!!</h3>
        {% else %}
        <h2>Rango says...hello stranger!!!</h2>
        {% endif %}
    <div class="row-fluid">
        <div class="span6">
        <h2>Top Five categories</h2>
        {%  if categories %}
            <ul>
                    {% for category in categories %}
                    <li>
                        <strong><a href="/rango/{{ category.url }}">{{ category.name }}</a>--{{ category.likes }} likes</strong>

                    </li>
                    {%  endfor %}
            </ul>
        {% else %}
            <strong>No categories present</strong>
        {% endif %}
        </div>
        <div class="span6">
        <h2>Top most visted pages</h2>
        {% if pages %}
            <ul>
                    {% for page in pages %}
                    <li><a href="/rango/goto/?page_id={{ page.id }}">{{ page.title }}</a> - {{ page.category }} -- {{ page.views }} view(s)</li>
                    {% endfor %}
            </ul>
            {% else %}
            <strong>No pages found</strong>
        {% endif %}
    </div>
{% endblock %}



