<!DOCTYPE html>
{%  load static %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>Rango says...hello {{ user.username }}</h1>
        {% else %}
        <h1>rango says...hello stranger!!!</h1>
        {% endif %}
        <p>Top most liked categories</p>
        {%  if categories %}
            <ul>
                    {% for category in categories %}
                    <li>
                        <strong><a href="/rango/{{ category.url }}">{{ category.name }}</a>{{ category.likes }}</strong>

                    </li>
                    {%  endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        <a href="/rango/restricted/">Restricted page</a>
        <a href="/rango/logout/">Logout</a>
        <a href="/rango/add_category/">Add a New Category</a><br />
        {% else %}
        <a href="/rango/register/">Register Here</a><br />
        <a href="/rango/login/">Login</a><br />
        {% endif %}

        <a href='/rango/about'>About</a><br/>
        <p>-------------------------------------------------------------------</p>
        <p>Top most visted pages</p>
        {% if pages %}
                    {% for page in pages %}
                    <li>
                        <strong>{{ page.title }}</strong>
                        <strong>{{ page.views }}</strong>
                    </li>
                    {% endfor %}
            </ul>
        {% endif %}


        <img src="{% static "dp.jpg" %}" alt = "dkjshkjhf" />
    </body>
</html>